.primaryButton {
    
    background: #2b50ed;
    box-shadow: 0px 8px 26px rgba(34, 60, 169, 0.31);
    color: #fff;
}

.button {
    border-radius: 6px;
    cursor: pointer;
    padding: 0 20px;
    height: 35px;
    border: none;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    font-family: "Fira Sans";
    position: relative;
    outline: none;
    transition: all 200ms cubic-bezier(0.165, 0.84, 0.44, 1);


}

.button div {
    display: inline;
    margin-right: 12px;
}

.secondaryButton {
    
    background: #f2f4fb;
    color: #223ca9;


}

.secondaryButton:hover {
    color: white;
    background: #2b50ed;
    box-shadow: 0px 8px 26px rgba(34, 60, 169, 0.31);

}


.primaryButton:hover {
    background: #2644C5;
}