.PageHeader {
    height: 75px;
    border-radius: 0px 0px 0px 12px;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(228, 231, 235, 0.16);
    width: 100%;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0; 
    z-index: 5;
    margin-bottom: 30px;
}

.Title {
    margin-left: 40px;
    font-family: "Fira Sans";
    font-weight: normal;
    font-size: 21px;
    text-align: left;
    color: #1e1f22;

}

.Actions {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: inherit;
    padding-right: 22px;
}